<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Hi there</p>
    <div>
      {% for post in posts %}
        <div>
          <p>published: {{ post.published_date }}</p>
          <h1> <a href="#">{{ post.title }} </a></h1>
          <p>{{ post.text|linebreaksbr }}</p>
        </div>
      {% endfor %}
   </div>
  </body>
</html>
